.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.paypal-logo {
    width: 40%;
}

.paypal-img {
    height: 4rem;
}

form {
    display: inline-block;
    align-self: center;
}

@media all and (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    .paypal-img {
        height: 3rem;
    }

    .paypal-logo {
        height: 100%;
    }
}