#nav a:hover, #nav a:hover > div, #footer a:hover, #homeLinks a:hover, #homeLinks a:hover > div, #updatesLinks a:hover > div > div {
    text-decoration: underline;
}

#mapStates path:hover {
    opacity: 0.75;
}