.stripe {
    max-width: 6000px;
    font-family: ApercuMedium;
    font-size: 28px;
}

.stripe input {
    background: #fff;
    color: #474747;
    border: none;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    width: 60%;
    font-size: 28px;
    padding: 8px;
}

.stripe input::placeholder {
    color: #aab7c4;
}

.stripe label {
    display: block;
    margin: 8px 0;
}

.subLabel {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 8px;
}

.formRow {
    margin: 20px 0;
}

.amount_box {
    display: inline-block;
    vertical-align: middle;
    padding: 16px;
    margin: 0 10px 10px 0;
    background-color: rgb(210, 208, 209);
    cursor: pointer;
    font-weight: bold;
}

.amount_selected {
    background-color: #DB3F5A;
    color: #fff;
}

.card_element {
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
}

.button {
    border: none;
    background-color: #006633;
    color: #fff;
    font-family: ApercuMedium;
    font-size: 16px;
    padding: 20px 30px;
    text-transform: uppercase;

}
button.button[sending="1"] {
    opacity: 0.75;
}

.stripe form {
    box-shadow: 0 0 30px 5px #cccccc;
    padding: 2rem 10rem;
    margin-top: 3rem;
}

.flex-row-address {
    display: flex;
    justify-content: space-around;
}

.flex-item-zip {
    padding-left: 30px;
    flex-grow: 4;
}

.flex-item-address {
    flex-grow: 2;
}

#card-button,
#card-address,
#card-zip {
    width: 100%;
}

@media all and (max-width: 600px) {
    .stripe {
        font-size: 18px
    }

    .stripe input {
        width: 100%;
        font-size: 16px;
    }

    .stripe form {
        padding: 2rem;
    }

    .flex-row-amounts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}